<h1>【タヌキオアノット】</h1>
<div id="photo">
    <%= image_tag @tanuki.pic, class: 'tanuki_photo' %>
</diV>
<div id="answer">
    <%= link_to 'タヌキ', tanucheck_path(race: 'タヌキ', realrace: @tanuki.race), remote: true, method: 'post' %>
    ／
    <%= link_to 'タヌキではない', tanucheck_path(race: 'タヌキではない', realrace: @tanuki.race), remote: true, method: 'post' %>
</div>
